/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --fade-time: 0.5s;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: #f5fcec;
  color: #111;
  background-image: -o-linear-gradient(left, rgba(200,0,0,.5) 50%, transparent 50%),
-o-linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(200,0,0,.5)), color-stop(50%, transparent)),
-webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(200,0,0,.5)), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
  background-size:50px 50px;
  
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #00a86b;
  -webkit-box-shadow: 3px 3px 15px #666;
          box-shadow: 3px 3px 15px #666;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #00a86b;
  border: none;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.9;
  z-index: 10;
}

.nav-container {
  width: 100%;
  max-width: 900px;
  padding: 0 5vw;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
.logo {
  color: #fff;
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  text-shadow: 1px 1px 5px #333;
  color: #fff;
  line-height: 0;
  cursor: pointer;
}

.topnav {
  visibility: hidden;
}

ul.navbar-list {
  margin: 0;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

ul.navbar-list li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 5px #333;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

ul.navbar-list li a:hover {
  background-color: #245501;
  opacity: 1;
}

.header-container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  height: 600px;
  background-image: url(img/intro-bg.jpg);
  background-position: center;
}

.header-container .overlay {

  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-main {
  font-size: 8rem;
  font-family: "Sacramento", cursive;
  text-shadow: 1px 1px 5px #333;
  color: #fff;
}

.header-text {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 5px #333;
}

section .container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-large {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  border-bottom: 3px solid #c80000;
}

.row-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  border: none;
  padding: 0;
  width: 100%;
}

.feature-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin: 0 10px;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-item img {
  max-width: 100%;
}

.title-medium {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.text {
  width: 100%;
  text-align: justify;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.image-container {
  text-align: center;
  width: 100%;
  max-height: 600px;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.menu-wrapper {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.menu-section {
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  padding: 10px;
}

.menu-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-item-name {
  font-weight: 700;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.menu-item-price {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-bottom: 5px;
}

.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.main-img img {
  max-width: 100%;
  max-height: 100%;
}

.imgs img {
  width: 100%;
  height: 150px;
}

.imgs {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 5px 1fr 5px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  -ms-grid-template-columns: repeat(4, 1fr);
  -ms-grid-template-rows: repeat(3, 1fr);
  -ms-grid-gap: 5px;
}

.imgs > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.imgs > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.imgs > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.imgs > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.imgs > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.imgs > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.imgs > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.imgs > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.imgs > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.imgs > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.imgs > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.imgs > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.imgs img {
  cursor: pointer;
}

div#contact {
  width: 100%;
  background-color: #ff8059;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px;
  max-width: 100%;
}

.contact-element {
  margin: 0 20px;
  padding: 30px;
}

.title-small {
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #00a86b;
}

.column {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.form-item {
  margin-bottom: 15px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-item label {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.form-item input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  outline: none;
  border: none;
  padding: 5px;
  color: #fff;
  background-color: rgba(200,0,0,.5);
  border-bottom: 2px solid rgba(200,0,0,1);
}

.form-item > * ~ span {
  display: inline-block;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  margin-left: 20px;
  font-size: 12px;
  width: 100px;
}

input[type="submit"] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px;
  width: 100px;
  background-color: rgba(200,0,0,0.5);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px #333;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #00a86b;
  color: #fff;
}

.fas.fa-check {
  color: green;
}


/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  top: -50px;
  right: 200%;
  background-color: #00a86b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1000;
  margin-left: -200px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00a86b transparent transparent transparent;
}

/* footer */

footer {
  background-color: rgba(200,0,0,.5);
}

.contact-container.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social ul {
  width: 50%;
  padding: 0;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.social ul li {
  margin: 10px 30px;
}

.fa {
  color: #ff8059;
}

.fa:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #00a86b;
}


@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn var(--fade-time) ease-in 1 forwards;
          animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

@media (max-width: 720px) {

  .container {
    padding: 20px;
  }

  .nav-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 2em;
  }

  .topnav {
    position: fixed;
    top: 2%;
    right: 10%;
    
  }

  .topnav i {
    display: block;
    visibility: visible;
  }

  ul.navbar-list {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
    background-color: transparent;
  }

  .header-container {
    max-height: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .overlay {
    width: 100%;
  }

  .title-main {
    font-size: 20vw;
  }

  .header-text {
    font-size: 5vw;
  }

  .title-wrapper {
    padding: 0 50px;
  }

  .row-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }

  .feature-item {
    width: 100%;
  }

  .imgs {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 30px;
  }

  .title-small {
    text-align: center;
  }

  .contact-element {
    margin: 5px;
    padding: 10px 5px;
  }

  .form-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .form-item > label {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }

  .form-item input, .form-item span {
    width: 100%;
  }

  .form-item span {
    text-align: center;
    margin: 0;
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  .tooltip {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 10px;
    
  }
  .tooltip .tooltiptext {
    left: 60vw;
  }

}
